 

	.body{
		width: 80%;
		margin-left: auto;
		margin-right: auto; 
		border: 1px black solid; 
	}
	
	.header{ 
		height: 220px;
	}
	
	.header img{
		width: 100%;
		height: 100%;
	}
	
	.lang{
		position: absolute;
		top: 135px;
	}
	
	.not_active{
		background-color: #fff;
	}
	.active{
		background-color: #358FE1;
	}
	
	.lang ul li
	{
		list-style: none;
		float: left;
		width: 80px;
		font-size: 18px;
		text-align: center;
		border: 1px solid black; 
	}
	
	.lang ul li:nth-child(1) {
		border-radius: 10px 0px 0px 10px;
	}
	.lang ul li:nth-child(2) {
		border-radius: 0px 10px 10px 0px;
	}
	.lang ul li a , .leftSide  ul li a{
		text-decoration: none;
	}
	 
	
	.banner , .dots{
		width:75%;
		margin-left:auto;
		margin-right: auto;
		
	}
	
	.banner img{
		width: 100%;
	}
	.dots  ul{
		width:10%;
		margin-left:auto;
		margin-right: auto;
	}
	.dots li{
		list-style: circle;
		float: left;
		width: 20px;
	}
	
	.clear{
		clear:both;
	}
	
	
	.mainContent{			
		margin-top:20px;
	}
	
	
	.main{
		float: right;
		width: 70%;
	}
	.leftSide{
		width: 25%;
		float: left; 
		margin: 10px;
		text-align: center;
	}
	
	.list_item  {
		list-style: none;
		border: 1px solid black;
	}
	
	.main h2{
		text-align: center;
	}
	
	.form{
		width:50%;
		margin-left:auto;
		margin-right: auto;
		font-weight: bold;
		font-size: 18px;
		margin-top:25px;
	}
	
	.form div{
		margin-top: 10px;
	}
	
	.footer{
		height: 220px;
	}
	
	.footer img{
		width: 100%;
	}
	.inner_footer{    
		position: relative;
		bottom: 60px;
	}
	
	.search{
		width: 30%;
		float: left;
	}
	
	.social{
		width: 30%;
		float: right;
	}
	
	.social ul {
		margin-top: -5px;
	}
	
	.social ul li{
		list-style: none;
		float: left;
		margin-right: 40px;
	}
	
	.social ul li img{
		width: 30px;
		height: 25px;
	}
	
	.copy{
		width:50%;
		margin-left:auto;
		margin-right: auto;
		font-weight: bold;
		font-size: 14px;
		text-align: center;
		border-bottom: 1px solid black;
	}
	
	
	.list_item ul{
		text-align: right;
	}
	
	.list_item ul li{
		list-style: none;
	}
	.list_item ul{
		text-align: left;
	}
	
	.productBox{
		width: 30.5%;
		float: left;
		border: 1px solid black; 
		margin: 10px
	}
	.productBoxDetail{
		border: 1px solid black; 
		margin: 10px;
		padding: 15px;
	}
	
	.product-image{
		width: 80%; 
		margin-left: auto;
		margin-right: auto; 
	}
	
	
	.product-image img{
		width: 220px;
		height: 180px;
	}
	
	.addToCart{
		background-color: #47779C;
		height: 40px;
		text-align: center;
	}
	
	.addToCart a{
		color: white;
		text-align: center;
		text-decoration : none;
		line-height: 32px;
	}
	
	.note{
		text-align: center;
		color: red;
		font-size: 18px;
	}