<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
	http://www.springframework.org/schema/context  
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">  
	<context:component-scan
		base-package="com.sporty.controllers" />
	 
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="jspViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/sportyshop"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
 
 	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
		
	<bean id="categoryDAO" class="com.sporty.impl.CategoryDAO">
		<property name="template" ref="jdbcTemplate"></property>
	</bean>
		
	<bean id="productDAO" class="com.sporty.impl.ProductDAO">
		<property name="template" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="cartDAO" class="com.sporty.impl.CartDAO">
		<property name="template" ref="jdbcTemplate"></property>
	</bean>
	  
	<bean id="customerDAO" class="com.sporty.impl.CustomerDAO">
		<property name="template" ref="jdbcTemplate"></property>
	</bean>
	  
	<bean id="orderDAO" class="com.sporty.impl.OrderDAO">
		<property name="template" ref="jdbcTemplate"></property>
	</bean>
	  
	<bean id="adminDAO" class="com.sporty.impl.AdminDAO">
		<property name="template" ref="jdbcTemplate"></property>
	</bean>
	  
</beans>